@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tira-fotografica {
  display: flex;
  flex-direction: column; /* Asegura que Regalos se alinee verticalmente */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start; /* Para alinear el contenido al inicio */
  overflow: hidden;
  text-align: center;
  background-image: url('../assets/imagenes/portadatelon02.jpg');
  background-size: cover;
  background-position:center;

}

.container-carousel {
  width: 85%;
  height: 100%;
  margin-bottom: 1rem;
}

.carruseles {
  display: flex;
  width: 100%; 
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--current-slide, 0)));
  margin-top: 1rem;
}
.tituloca{
  font-family: 'Retro',sans-serif;
  font-size: 1.8rem;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  color: white;
  font-weight: 100;
  display: inline-block;
  margin-top: 1rem;
  justify-content: center;
  color: white;

}
.tituloca2{
  font-family: 'Retro',sans-serif;
  font-size: 1.3rem;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  color: white;
  font-weight: 100;
  display: inline-block;
  justify-content: center;
  color: white;

}

@keyframes typing {
0% {
width: 0;
}
100% {
width: 100%;
}
}

@keyframes blink {
50% {
border-color: transparent; /* Hace parpadear el cursor */
}
}

.slider-section {
  width: 100%; 
  flex-shrink: 0;
  height: auto;
}

.slider-section img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}

.slider-section:not(.active) {
  display: none; 
}



@keyframes typing {
0% {
width: 0;
}
100% {
width: 100%;
}
}

@keyframes blink {
50% {
border-color: transparent; /* Hace parpadear el cursor */
}
}
@font-face {
  font-family: Cinema;
  src: url('../assets/fonts/clouts/Clouts!.ttf');
}
@font-face {
  font-family: 'Today';
  src: url('../assets/fonts/today_show/');
}
@font-face {
  font-family: 'Film';
  src: url('../assets/fonts/film_letters/FilmLetters.ttf');
}
@font-face {
  font-family: 'Starla';
  src: url('../assets/fonts/starla/Starla.ttf');
}