@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tira-fotografica {
  display: flex;
    width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  background-image: url('../assets/imagenes/night.jpg');
  background-size: cover;
}

.container-carousel {
  width: 90%;
  height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.carruseles {
  display: flex;
  width: 100%; 
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--current-slide, 0)));
  margin-top: 0;
}
.tituloca{
  font-family: 'Cinema';
  letter-spacing: 1.5px;
  font-size: 3.2rem;
  text-align: center;
  overflow: hidden; 
  white-space: nowrap; 
  width: 0;
  font-weight: 100;
  border-right: 2px solid;
  animation: typing 4s steps(30) infinite, blink 0.75s step-end infinite; 
  display: inline-block;
  margin-top: 2rem;
  justify-content: center;
}

@keyframes typing {
0% {
width: 0;
}
100% {
width: 100%;
}
}

@keyframes blink {
50% {
border-color: transparent; /* Hace parpadear el cursor */
}
}

.slider-section {
  width: 100%; 
  flex-shrink: 0;
  height: 100%;
}

.slider-section img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-section:not(.active) {
  display: none; 
}



@keyframes typing {
0% {
width: 0;
}
100% {
width: 100%;
}
}

@keyframes blink {
50% {
border-color: transparent; /* Hace parpadear el cursor */
}
}
@font-face {
  font-family: Cinema;
  src: url('../assets/fonts/clouts/Clouts!.ttf');
}
@font-face {
  font-family: 'Today';
  src: url('../assets/fonts/today_show/');
}
@font-face {
  font-family: 'Film';
  src: url('../assets/fonts/film_letters/FilmLetters.ttf');
}
@font-face {
  font-family: 'Starla';
  src: url('../assets/fonts/starla/Starla.ttf');
}