@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tira-fotografica {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.h2 {
  font-family: 'Starla'; 
  font-size: 1.3rem;
  color: #000000;
  text-align: center;
}

.camara{
  align-items: center;
  justify-content: center;


}

.container-carousel {
  width: 500px;
  height: 300px;
  overflow: hidden;
}
.carruseles{
  width: 300%;
  height: 100%;
  display: flex;
}

.slider-section{
  width: calc(100% /3);
  height: 100%;
}
.slider-section img{
  width: 500px;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;

}






@font-face {
  font-family: Cinema;
  src: url('../assets/fonts/clouts/Clouts!.ttf');
}
@font-face {
  font-family: 'Today';
  src: url('../assets/fonts/today_show/');
}
@font-face {
  font-family: 'Film';
  src: url('../assets/fonts/film_letters/FilmLetters.ttf');
}
@font-face {
  font-family: 'Starla';
  src: url('../assets/fonts/starla/Starla.ttf');
}