
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
 .countdown {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Geist';
  overflow: hidden;  
  background-color:#f5f5f5;
  padding: 10px;
}
.countdown-card {
  background-color: white;
  width: 100%;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}



.countdown-letra{
  text-align: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.925);    
  border-radius: 20px ;
}

.img-container-info {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.img-nieve {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.countdown-cd {
  display: flex;
  justify-content: center;
  gap: 0.8rem; 
  margin-top: 1rem;
  font-family: 'Cinema';
}

.time-section {
  text-align: center;
  margin-bottom: 1.3rem;
  }

.time-value {
  display: flex;
  background-color: #d4af37;
  font-size: 2.3rem;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.time-label {
  font-size: 1rem;
  font-family: 'Geist';
  color: #000000;
}

  

