
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }
 
 .countdown {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Geist';
  overflow: hidden;  
  background-image: url('../assets/imagenes/circuls.png');
  background-size: contain; 
  background-position: top; /* Centra la imagen */
  background-repeat: no-repeat;
  position: relative;
  margin-top: -6rem;
  animation: grande 5s infinite ease-in-out;
}
@keyframes grande {
  0%, 100% {
    transform: scale(0.9); 
  }
  50% {
    transform: scale(1); 
  }
}

.countdown-letra{
  text-align: center;
  justify-content: center;
  line-height: 24px;

}
.faltan-cd {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  color: #333;
}

.countdown-cd {
    display: flex;
  justify-content: center;
  gap: 1.6rem; /* Espacio entre columnas */
}
.icono-film{
  width: 50px; 
  height: 50px;
}

.time-section {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  
}

.time-value {
  font-size: 2rem;
  font-weight: bold;
  color: #d4af37;
}

.time-label {
  font-size: 1rem;
  color: #555;
}

  
  .bola{
    width: 40px;
    height: 40px;
    animation: crecer 4s infinite ease-in-out; /* Animación definida */
  }

  @keyframes crecer {
    0%, 100% {
      transform: scale(1); /* Tamaño original */
    }
    50% {
      transform: scale(1.2); /* Crece al 150% del tamaño */
    }
  }
  