*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




    @keyframes slideIn {
          0% {
              transform: translateY(-100%); 
              opacity: 0;  
          }
          100% {
              transform: translateY(0);  
              opacity: 1;  
          }
      }
.texto-final{
   
    
}
.container-final{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Arima', sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    align-items: center;
    font-weight: 100;

}

.parrafo-final{
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Arima', sans-serif;
       }

.container-novios{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 0.5rem; 
    width: 100%; 
    margin-top: 1.5rem; 
    text-align: center; 
}
.novios-final{
     font-family: 'Starla';
     font-size: 1.2rem;
}
.novios-final,
.btn-final {
    flex: 1 1 calc(50% - 1rem); /* Cada columna ocupa el 50% del ancho con un espacio de 1rem */
    text-align: center; /* Centra el texto */
}

@keyframes zoomIn {
    0% {
        transform: scale(0);  /* Comienza desde un tama침o peque침o */
        opacity: 0;  /* Empieza invisible */
    }
    100% {
        transform: scale(1);  /* Llega a su tama침o original */
        opacity: 1;  /* Se vuelve completamente visible */
    }
    
}

.btn-final{
    display: inline-block;
    background-color: #d4af37;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-mapa:hover {
    background-color: #b8860b;
  }
  
.nopodemos-container {
    width: 100vw; 
    margin: 0; /* Elimina m치rgenes */
    padding: 0; /* Elimina paddings */
}
.mari-fran{
    font-family: 'Starla';
    font-size: 3rem;
    margin-top: 2rem;
}

.span-and{
    font-family: 'Geist';
    font-size: 1.5rem;
    background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}
.nopodemos{
    width: 100%;
    background-size:cover ;
    padding: 30px 10px;
    font-family: 'Arima', sans-serif;
    animation: zoomIn 3s ease-out forwards; 
}
.anillo{
    font-size: 1.6rem;
}