*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container-final{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Arima', sans-serif;
    overflow: hidden;
    text-align: center;
    padding: 20px;
    align-items: center;
    font-weight: 100;
    transition: none;
    background-color:#f5f5f5;
}

.fondofinal{
    background-color: rgba(255, 255, 255, 0.925);    
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: none; 
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  .fondofinal.animate {
    animation: slideIn 1.5s ease-in-out;
  }


.parrafo-final{
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Arima', sans-serif;
       }

.container-novios{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    width: 100%; 
    margin-top: 1.5rem; 
    text-align: center; 
}
.novios-final{
     font-family: 'Starla';
     font-size: 1.2rem;
}
.novios-final,
.btn-final {
    flex: 1 1 calc(50% - 1rem); /* Cada columna ocupa el 50% del ancho con un espacio de 1rem */
    text-align: center; /* Centra el texto */
}

@keyframes zoomIn {
    0% {
        transform: scale(0);  /* Comienza desde un tamaño pequeño */
        opacity: 0;  /* Empieza invisible */
    }
    100% {
        transform: scale(1);  /* Llega a su tamaño original */
        opacity: 1;  /* Se vuelve completamente visible */
    }
    
}

.btn-final{
    display: inline-block;
    background-color: #d4af37;
    color: white;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    font-family: 'Cinema';
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
      }

    
.nopodemos-container {
    width: 100vw; 
    margin: 0; 
    padding: 0; 
}
.mari-fran{
    /* font-family: 'Starla'; */
    font-size: 5rem;
    margin-top: 2rem;
    font-family: 'Cinema';
    
}

.span-and{
    font-family: 'Geist';
    font-style: italic;
    font-size: 3rem;
    background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}
.nopodemos{
    width: 100%;
    background-size:cover ;
    padding: 30px 10px;
    font-family: 'Arima', sans-serif;
    font-weight: 600;
}
.anillo{
    font-size: 2.2rem;
}