
@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/cinzel/Cinzel-Regular.otf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   /* #23263b azul fondo */
   /* #f4eddc  beige de info protagonistas */
   /* #faf8f7   color beige*/
   /* #cbb69c marroncito letra */
   /* rgba(210,218,209,255) verde verdoso */
   /* rgb(235, 243, 250) */
.container-info{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
       font-family: 'Arima', sans-serif;
       font-weight: 100;
       overflow: visible;
       text-align: center;

   }
   

   .titulo{
      font-family: 'Cinema';
      letter-spacing: 1.5px;
      font-size: 3.2rem;
      text-align: center;
      overflow: hidden; 
      white-space: nowrap; 
      width: 0;
      font-weight: 100;
      border-right: 2px solid;
      animation: typing 4s steps(30) infinite, blink 0.75s step-end infinite; 
      display: inline-block;

}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent; /* Hace parpadear el cursor */
  }
}
    
    @keyframes shine {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
    }

    .texto-info{
      margin: 0 1rem ;
      line-height: 1.5;
      font-weight: 300;
      font-size: 1.1rem;
      padding: 10px;
      
    }
  
.parrafo{
      margin-bottom: 1rem;
      
    }
span{
    font-weight: bold;
    color: #efb810;
    font-size: 1.5rem;
    font-family:'Cinema';
      }


.texto-info-ceremonia{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-size: cover;
    background-image: url('../assets/imagenes/55.png'); 
     
  }
.img-info{
  transform: none;
  background-image: url('../assets/imagenes/fondocartel.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 550px;
  width: 100%;
}
.img-info.zoomIn{
  animation: zoomIn 5s ease-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);  /* Comienza desde un tamaño pequeño */
    opacity: 0;  /* Empieza invisible */
}
100% {
    transform: scale(1);  /* Llega a su tamaño original */
    opacity: 1;  /* Se vuelve completamente visible */
}
}
.container-datos{
  margin-top: 5rem;
}
.h3-info{
    font-size: 1.3rem;
    font-family: 'Arima', sans-serif;
    align-items: center;
    justify-content: center;

}
.h3-info p{
    font-family: 'Cinema'; 
    font-size: 2.3rem;
    letter-spacing: 0.8px;
    margin-top:0.7rem;
    margin-bottom: 1.3rem;
    color: #efb810;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8)
    /* background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite; */
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.h3-footer{
    font-size: 1rem;
    font-family: 'Arima', sans-serif;
    margin-top: -1rem;
     }
    

 
.icono-info{
    /* animation: bounce 1s ease infinite;  */
    width: 20px;  
    height: 20px; 
    font-family: 'Arima';

  }


@keyframes bounce {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-7px); 
  }
}