*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   /* rgba(210,218,209,255) */
   /* #d2dad1 */
.container-info{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
       font-family: 'Arima';
       overflow: hidden;
       text-align: center;
   }
   
.texto{
       padding: 20px;
   }
   
.linea-sola{
     content: '';
     width: 17rem;
     border-top: 0.5px solid rgb(0, 0, 0), #9fddea;
    margin: 0 auto
   
   }

span{
    font-weight: bold;
}
.titulo{
        font-family: 'Starla'; 
        font-size: 1.6rem;
        text-align: center;
        background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: shine 3s linear infinite, slideIn 15s ease-out forwards;
    }
    
    @keyframes shine {
      0% {
        background-position: 0%;
      }
      100% {
        background-position: 100%;
      }
         }
      @keyframes slideIn {
          0% {
              transform: translateY(-100%); 
              opacity: 0;  
          }
          100% {
              transform: translateY(0);  
              opacity: 1;  
          }
      }
.texto-info{
   margin: 0 1rem ;
   line-height: 1.7;
   font-size: 1rem;

}
.queridos-info{
    margin-top: 2rem;
    
  }
  .parrafo{
    margin-bottom: 1rem;
 
  }
.img-container-info{
  display: flex;
  align-items: center;
  height: 100%;
}
.save-date{
  margin: 0 1.5rem 0 1.2rem; 
    text-align: left;  
    font-family: 'Arima';

    
}
.img-nieve{
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding:0;
}

.texto-info-ceremonia{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid;
    border-color: #d4af37;
    border-radius: 40px;
   margin: 2rem;
   padding: 20px;
   opacity: 0;  /* Comienza invisible */
   transform: scale(0);  /* Comienza pequeño para el efecto de zoom */
   animation: zoomIn 4s ease-out forwards; 
}

@keyframes zoomIn {
  0% {
    transform: scale(0);  /* Comienza desde un tamaño pequeño */
    opacity: 0;  /* Empieza invisible */
}
100% {
    transform: scale(1);  /* Llega a su tamaño original */
    opacity: 1;  /* Se vuelve completamente visible */
}
}
.h3-info{
    margin: 1rem 0;
    font-size: 1.2rem;
    font-family: 'Arima';

}
.h3-info p{
    font-family: 'Starla'; 
    font-size: 1.2rem;
    margin-top: 0.5rem;
    background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.h3-footer{
   margin:0 2rem;                
    font-weight: bold;
    font-size: 1rem;
     
    }
    

 
.icono-info{
    /* animation: bounce 1s ease infinite;  */
    width: 20px;  
    height: 20px; 
    font-family: 'Arima';

  }


@keyframes bounce {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-7px); 
  }
}