@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:ital,wght@0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Starla';
  src: url('../assets/fonts/starla/Starla.ttf');
}
@font-face {
  font-family: 'Voga';
  src: url('../assets/fonts/Voga/voga_medium.otf');
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
.portada-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

      }
.portada-video {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Ajusta la altura manteniendo la proporción del video */
  display: block;
      }

.portada-contenido {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}




  @keyframes shine {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }



