*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
.portada-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

      }
.portada-video {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: auto; /* Ajusta la altura manteniendo la proporción del video */
  display: block;
      }

.portada-contenido {
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}


  @keyframes shine {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }


