*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   /* 9fddea */
   /* 235, 243, 250 */

   .container-regalos {
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent; 
    text-align: center;
    border: none; 
    border-radius: 0; 
  }
  
.tituloregalos{
    font-family: 'Retro',sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    font-weight: 100;
    display: inline-block;
    color: red;
    }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent; /* Hace parpadear el cursor */
    }
  }


   .texto-regalos{
    font-size: 1rem;
    line-height: 1.4;
    font-family: 'Arima', sans-serif;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
   }
 
   .modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    width: 320px;
    font-family: 'Arima', sans-serif;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    color: #ed4646;
  }
  
  .close:hover {
    color: #000;
  }
  .datos{
    font-size: 2.3rem;
    letter-spacing: 2px;
    

  }
  .caja-fran{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .hola{
    color: #000;
    font-family: 'Arima', sans-serif;
    font-size: 1rem;
  }

  
  button:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra un poco más fuerte en hover */
  }