*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   
  .container-tips{
       width: 100%;
       height: auto;
       display: flex;
       flex-direction: column;
       font-family: 'Arima', sans-serif;
       font-weight: 100;
       overflow: hidden;
       text-align: center;
       align-items: center;
   }

    .dresscode{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

   }
   .dresscode img {
    width: 100%;
    height:auto;
    max-width: 800px; 
    object-fit: cover; 
    object-position: center; 
  }
  .texto-tips{
    margin: 0 1rem ;
    line-height: 1.5;
    font-size: 1rem;
    padding: 10px;
  }

      @media (min-width: 768px) {
        .dresscode img {
            width: 70%;
            max-width: 700px;  /* Asegura que la imagen no se agrande más allá de 700px */
        height: auto;
        }
    }
    
    @media (min-width: 1024px) {
        .dresscode img {
            width: 60%; /* Ajusta el tamaño de la imagen aún más en pantallas grandes */
            height: auto;
            max-width: 600px; 
          }
    }