*{
margin: 0;
padding: 0;

}


/* background: linear-gradient(45deg, #d4af37, #ffd700, #b8860b);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: shine 3s linear infinite;
}

@keyframes shine {
0% {
background-position: 0%;
}
100% {
background-position: 100%;
}
} */